--- cson
title: "Highlights"
thumb: "Leave This Line Here"
layout: "album"
type: "highlights"
captions:
  "hi1.png": "Graphical standards for Brussels Airlines' rebranding."
  "hi2.png": "Graphical standards for Brussels Airlines' rebranding."
  "hi3.jpg": "Design for a charity race website featuring usability in a scrollable layout."
  "hi4.jpg": "Design for a charity race website featuring usability in a scrollable layout."
  "hi5.png": "Concept and design of a website for a start-up."
  "hi6.png": "Concept and design of a website for a start-up."
  "hi7.jpg": "London protest photography."
  "hi8.jpg": "Dance photography."
  "hi9.jpg": "Baiga(horserace) in Khazakhstan."

---
